 # `pandas`: Načtení dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat

In [1]:
import pandas

### Základní práce s DataFrame

#### Načítání dat

In [2]:
nakupy = pandas.read_csv('nakupy.csv')
nakupy

    jmeno       datum               vec  cena
0    Petr  2020-02-05      Prací prášek   399
1   Ondra  2020-02-08              Savo    80
2    Petr  2020-02-24    Toaletní papír    65
3   Libor  2020-03-05              Pivo   124
4    Petr  2020-03-18  Pytel na odpadky    75
5    Míša  2020-03-30  Utěrky na nádobí   130
6   Ondra  2020-04-22    Toaletní papír   120
7    Míša  2020-05-05      Pečící papír    30
8   Zuzka  2020-06-05              Savo    80
9   Pavla  2020-06-13             Máslo    50
10  Ondra  2020-07-25              Káva   300

#### Základní informace o tabulce

In [3]:
nakupy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   jmeno   11 non-null     object
 1   datum   11 non-null     object
 2   vec     11 non-null     object
 3   cena    11 non-null     int64
dtypes: int64(1), object(3)
memory usage: 484.0+ bytes

In [ ]:
nakupy.shape

In [ ]:
nakupy.columns

In [ ]:
nakupy.head()

In [ ]:
nakupy.tail()

### Výběr sloupců

In [ ]:
nakupy['vec']
# type(nakupy['vec'])

In [ ]:
nakupy[['jmeno', 'cena']]
# type(nakupy[['jmeno', 'cena']])
# type(nakupy[['jmeno']])

### Výběr řádků pomocí čísla řádku

In [ ]:
nakupy.iloc[3]

## Cvičení
Odkaz na cvičení: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs